@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
  font-family: "Merriweather", serif;
  line-height: 1px;
}

/*  Banner container styles start */
.banner-container{
  max-width:1320px; 
height: 600px;
margin: 0 auto;
margin-top: 20px;
background-color: rgba(0, 0, 0, 0.5);
background-image: url(../images/Banner\ Image.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-blend-mode: overlay;
}

.banner-content p, h1 {
 color: white;

}

.banner-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  align-items: center;

}

.banner-content p{
  font-size: 32px;
font-weight: 400;

}

.banner-content h1{
  
  font-size: 72px;
font-weight: 900;
}
/* Banner container styles end */


/* second section container styles start */
.second-section-container{
 max-width: 802.9px;
height: 806px;
margin: 0 auto;
margin-top: 120px;

}

.second-section-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-section-container h2{
  color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
}

.second-section-container p{
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.second-section-container h3{
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.img-section{
  width: 802.9px;
height: 500px;
}
/* second section container styles end */


/* party section container styles start */
.Party-section-container{
  max-width:1320px; 
  height: 600px;
  margin: 0 auto;
  margin-top: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/Vectorrr.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  display: flex;
}

.rightside-content{
    width: 60%;
    display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  align-items: center;
  padding: 45px;
}

.rightside-content h2{
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 20px;
}
.rightside-content p{
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.btn{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
} 

.leftside-content{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 650px;
  align-items: center;
}

.leftside-content-img{
  width: 349.16px;
height: 464.65px;
}
/* party section container styles end */